#todo-clock {
    font-size: 4.5rem;
    font-weight: 100;
}

#todo-list {
    background-color: #c2eeee;
    color: #202020;
    padding: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#todo-input, #add-todo {
    padding: 1rem;
}

.todo-container {
    display: grid;
    grid-template-rows: 2fr auto;
}

body {
    background-color: #202020;
}